body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1A312C;
  color: #FFF4E1;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input, select {
  box-sizing: border-box;
}